* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.login-container {
    display: flex;
    height: 100vh;

    .left-panel {
        background-color: #E1523D;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .right-panel {
        background-color: #ED8B16;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
    }
}

.create-account-container {
    background-color: #ED8B16;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
 
.form-card {
    background-color: #fff;
    max-width: 360px;
    padding: 30px 20px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .logo {
        width: 100px;
        height: 100px;
        margin-bottom: 20px;
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
    }

    .message {
        margin-bottom: 20px;
    }

    .form {
        padding: 0px 20px;
        border: none;

        input {
            width: 100%;
            padding: 10px;
            margin: 10px 0 20px;
            border: 1px solid #ED8B16;
            border-radius: 5px;
        }

        input:focus{ outline: none; }

        .button-container {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;
            gap: 10px;

            .btn {
                display: inline-block;
                margin-top: 20px;
                padding: 10px 10px;
                width: 140px;
                background-color: #ccc;
                color: white;
                text-align: center;
                text-decoration: none;
                border-radius: 5px;
                font-size: 16px;
                border: none;
                transition: all ease-in-out 0.2s;
                cursor: pointer;
            }

            .btn-create-account {
                background-color:#4cae4c;
            }

            .btn-create-account:hover {
                background-color:#377e37;
            }

            .btn-create-account-pg {
                background-color:#ED8B16;
            }

            .btn-create-account-pg:hover {
                background-color:#b36a11;
            }

            .btn-back {
                background-color: #E1523D;
            }

            .btn-back:hover {
                background-color: #ad3f2e;
            }
        }
    }
}