* {
    margin: 0;
    padding: 0;
    max-height: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Configuração básica do corpo */
html {
    height: 100vh;
    width: 100vw;
} 

body {
    background-color: #ed8b16;
    height: 100%;
    width: 100%;
}

form {
    height: 80%;
    width: 80%;
}

/* Títulos */
h3 {
    background-color: #ed8b16;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Container principal */
.container {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #ff6347;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

/* Seção para o título */
.title-section {
    grid-column: span 2; /* Ocupa toda a largura */
}

.title-input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    font-size: 20px;
    border: 2px solid #ff6347;
    border-radius: 10px;
    text-align: center;
}

.title-input:focus {
    outline: none;
}

.containerInfo {
    height: 100%;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid #ff6347;
    padding: 20px;
    gap: 20px;
}

.buttons {
    display: flex;
    gap: 20px;

    .button {
        width: 100%;
        border: none;
        padding: 20px;
        display: inline-block;
        text-align: center;
        background-color: #ccc;
        color: white;
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;
        border-radius: 10px;
        transition: all ease-in-out 0.2s;
    }

    .return {
        background-color:#ED8B16;
    }

    .return:hover {
        background-color:#b36a11;
    }

    .delete {
        background-color: #E1523D;
    }

    .delete:hover {
        background-color: #ad3f2e;
    }

    .save {
        background-color:#4cae4c;
    }

    .save:hover {
        background-color:#377e37;
    }
}

/* Coluna da esquerda */
.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 100%;
}

/* Ingredientes */
.ingredients {
    height: 100%;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Coluna da direita */
.right-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

/* Tags e Tools */
.tags, .tools {
    width: 100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

/* Instruções */
.instructions {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Campo de texto */
textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}
