<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/static/styleRecipe.css">
</head>
<body class="center">
    <form method="POST" action="/createRecipe">
        <div class="container">
            <div class="title-section">
                <input type="text" name="title" placeholder="Recipe Title" class="title-input">
            </div>
            <div class="containerInfo">
                <div class="left-column">
                    <div class="tags">
                        <h3>Category</h3>
                        <select id="category" name="category" required>
                            <option selected disabled>Choose a category</option>
                            <option value="Sweet">Sweet</option>
                            <option value="Spicy">Spicy</option>
                            <option value="Vegan">Vegan</option>
                            <option value="Bittersweet">Bittersweet</option>
                            <option value="Drink">Drink</option>
                            <option value="Snack">Snack</option>
                        </select>
                    </div>
                    <div class="ingredients">
                        <h3>Ingredients</h3>
                        <textarea name="ingredients" placeholder="Type your ingredients here..."></textarea>
                    </div>
                </div>
                <div class="right-column">
                    <div class="tools">
                        <h3>Cooking Time</h3>
                        <input type="text" name="time" placeholder="Cooking time" required>
                    </div>
                    <div class="instructions">
                        <h3>Instructions</h3>
                        <textarea name="instructions" placeholder="Type your instructions here..."></textarea>
                    </div>
                </div>
            </div>
            <div class="buttons">
                <a class="button return" href="{{ url_for('home') }}">Return</a>
                <button type="submit" class="button save">Save Recipe</button>
            </div>
        </div>
    </form>
</body>
</html>
