<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Page</title>
    <link rel="stylesheet" href="/static/styleRecipe.css">
</head>
<body>
    <form method="POST" action="/createRecipe" style="text-align: center;">
        
        <!-- Conteúdo da receita -->
        <div class="container">
            <div class="title-section">
                <input type="text" name="title" placeholder="Recipe Title" class="title-input" style="background-color: #ffffff;" onfocus="this.style.backgroundColor='#ffffff';">
            </div>
            <div class="containerInfo">
                <div class="left-column">
                    <div class="image-placeholder" onclick="document.getElementById('image-upload').click()">
                        {% if recipe_image %}
                            <img src="{{ url_for('static', filename='uploads/' + recipe_image.split('/')[-1]) }}" alt="Recipe Image" class="recipe-image">
                        {% else %}
                            <p>Click to add an image</p>
                        {% endif %}
                    </div>
                    
                    <!-- Campo de upload de arquivo oculto -->
                    <form method="POST" enctype="multipart/form-data">
                        <input type="file" name="image" id="image-upload" style="display: none;" onchange="this.form.submit()">
                    </form>
                    
                    <div class="ingredients">
                        <h3>Ingredients</h3>
                        <textarea name="ingredients" placeholder="Type your ingredients here..."></textarea>
                    </div>
                </div>
                <div class="right-column">
                    <div class="tags-tools">
                        <div class="tags">
                            <h3>Category</h3>
                            <select id="category" name="category" required>
                                <option selected disabled>Choose a category</option>
                                <option value="Sweet">Sweet</option>
                                <option value="Spicy">Spicy</option>
                                <option value="Vegan">Vegan</option>
                                <option value="Bittersweet">Bittersweet</option>
                                <option value="Drink">Drink</option>
                                <option value="Snack">Snack</option>
                            </select>
                        </div>
                        <div class="tools">
                            <h3>Cooking Time</h3>
                            <input type="text" name="time" placeholder="Cooking time" required>
                        </div>
                    </div>
                    <div class="instructions">
                        <h3>Instructions</h3>
                        <textarea name="instructions" placeholder="Type your instructions here..."></textarea>
                    </div>
                    <button type="submit" class="save-recipe-button">Save Recipe</button>
                </div>
            </div>
            <!-- Botão "Save Recipe" centralizado na parte inferior -->
        </div>
    </form>
</body>
</html>
