<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <main class="login-container">
        <div class="left-panel">
            <div class="form-card">
                <img src="../static/imgs/png-cardapio.png" alt="Menu" class="logo">
                <h1>Login</h1>

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p class="message">
                                {{ message }}
                            </p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}

                <form action="{{ url_for('index') }}"  method="POST" class="form">
                    <label for="usuario">Email:</label>
                    <input type="email" id="usuario" name="usuario" required>

                    <label for="senha">Password:</label>
                    <input type="password" id="senha" name="senha" required>

                    <div class="button-container"> <!-- Contêiner para os botões -->
                        <a href="{{ url_for('create_account') }}" class="btn btn-create-account-pg">Create Account</a>
                        <button type="submit" class="btn btn-create-account">Login</button> <!-- Botão de Login -->
                    </div>
                </form>   
            </div>
        </div>
        <div class="right-panel">
            <h1>My Recipe</h1>
            <!-- Este espaço pode ser usado para outros conteúdos ou deixado vazio -->
        </div>
    </main>
</body>
</html>
